form.profile {
    
    display:flex;
    flex-direction:column;
    
    label {
        margin: 1.5em 0;
    }
}   
    
figure {
    
    border:1px solid #ccc;
    background:#eee;
    margin:1em 0;
    text-align:center;
    width:150px;
    
    img {
        margin:1em;
    }
    
    figcaption {
        background:#525252;
        color:#fff;
        font-size:.75em;
        font-weight:normal;
    }
}
.preview {
    width:50px;
}