{
  "rules": {
    "react/prop-types": [0],
    "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never"
    }] 
    "no-console": "off",
    "no-unused-vars": "off",
    "indent": [ "error", 4 ],
  },
  "plugins": [ "react" ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "module": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "__API_URI__": false,
    "__TITLE__": false,
    "__DEBUG__": false,
    "describe": true,
    "expect": true,
    "it": true
  },
  "extends": [
    "eslint:recommended"
  ]
}
