@import "./mixins.scss";

$baseDark:#000;

body {
    color: #000;
    &:after {
        @include shadow-bottom-fuzzy;
    }
}

#pokeWrapper {
    display:flex;
    flex-direction:row;
    width:100%;
    
    .loading {
        
       :after {
           background:#000;
           bottom:0;
           content:' ';
           left:0;
           opacity:.5;
           position:absolute;
           right:0;
           top:0;
       } 
        
    }
}


#pokemonList {
    
    background:#f5f5f5;
    flex:1;
    padding:1em;
    
    label {
        cursor:pointer;
        display:block;
        margin:.5em 0;
        text-transform:capitalize
    }
    
    input[type=radio] {
        
        position: absolute;
        visibility: hidden;
        display: none;
 
         &:checked + label {       
            background: #ccc;
            border-radius: 10px;
            color: #fff;
            padding:.5em;
        }
    }
    
}

#pokemonContainer {
    
    flex:3;
    padding:3em;
    
    &.water {
        background:#EBF5FB;
    }
    
    &.grass {
       background:#DAF7A6; 
    }
    
    &.fire {
        background:#FDEDEC;
    }
    
    &.bug {
       background:#FDEBD0; 
    }
    
    h2 {
        text-transform:uppercase;
    }
    
    #detailWrapper {
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
    }
    

}


div.box {
    @include circle(2em);
    @include grey-placemat;
    @include box-double(#ccc);
    margin:50px auto;
}