@import "vars";


// content 
html, body { position: relative; }
head, script, link  { display: none; }
p { display: inline-block; }
span,em,strong { display: inline; }
em { font-style: italic; }
strong { font-weight: bold; }

body { 
  background: $color-white; 
  // seting the size of ems on the page
  font-size: 16px;
}

blockquote {
  border-left: $pad solid $color-lightgrey;
  padding-left: $pad; 
}

@for $i from 6 through 1 {
  h#{$i} {
    font-size: 9/($i + 2) * 1em;;
  }
}


// form
label {
  font-size: 1.25em;
  font-weight: bolder;
  margin-bottom: $pad;
}

textarea, input {
  padding: $pad;
  border: 1px solid $color-lightgrey;
  margin-bottom: $pad;
  resize: none;

  &:focus {
    border: 1px solid $color-darkgrey;
  }

  &::placeholder {
    color: $color-lightgrey;
  }
}

button,input[type="submit"] {
  background: $color-lightgrey;
  padding: $pad;
  border: none;

  &:hover {
    background: $color-grey;
  }

  &:active {
    background: $color-darkgrey;
  }
}

// lists
ul,ol,li { margin-left: $pad * 2; }
li { display: list-item; }
ul li { list-style: disc; }
ol li { list-style: decimal; }
ol ol li , ul ol li { list-style: lower-alpha; }
ol ul li , ul ul li { list-style: square; }

.hide { display: none; }
