#board {
    display:flex;
    flex-direction:column;
    flex:1;

    > .categoryForm {
        margin: 1em 0;
    }

}

#kanban-categories {

    align-items:start;
    display:flex;
    flex:1;
    flex-direction:row;
    justify-content:flex-start;


    .card {

        @include box-halo-light;
        background:#fff;
        margin:1em;
        padding:1em;

    }


    .category {

        display:flex;
        flex-direction:column;
        height:100%;
        margin-right:1em;
        justify-content:flex-start;

        &:last-child { margin:0; }

        .deck {
            @include box-pushed-in;
            flex:1;
        }

        header {
            display:flex;
            flex-direction:row;
            justify-content:flex-start;
            align-items:center;

            a {
                color:#800000;
                display:block;
                padding:.75em;
                font-size:.75em;
                text-decoration:none;
                visibility:hidden;
            }

            &:hover {
                a {
                    visibility:visible;

                    &:hover {
                        font-weight:bold;
                    }
                }
            }

            .categoryForm {

                width:75%;

                input {

                    background:inherit;
                    border:1px solid transparent;
                    border-radius: 5px;
                    font-size:1.5em;
                    font-weight:bold;
                    padding:.25em;
                    width:100%;

                    &:hover, &:focus {
                        @include box-basic;
                        background:#fff;
                        font-weight:normal;
                        outline: none;
                    }
                }
            }

        }

    }
}