.loginFormContainer {

    display:flex;
    justify-content:space-evenly;

    form {
        border:1px solid #000;

        h2 {
            background:#000;
            color:#efefef;
            margin:0;
            padding:.5em;
        }

        button {
            margin:1em;
        }

        label {

            display:block;
            margin:1em;

            span {
                display:block;
                margin-bottom:.5em;
            }

        }

    }

}