form.profile {
    
    display:flex;
    flex-direction:column;
    
    label {
        margin: 1em 0;
        
        span {
            display:block;
        }
        
        figure {
            background: #f5f5f5;
            border: 1px solid #ccc;
            text-align:center;
            width:150px;
            
            img {
                width:125px;
            }
            
            figcaption {
                background: #525252;
                color:#fff;
                font-size: .75em;
            }
        }
        
    }
    
}
    
    